body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-m);
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 1170px;
    margin: auto;
}

.em-hero {
    background-color: var(--green);
    color: #fff;

    height: 100vh;

    /* display: flex;
    flex-direction: column; */
}

.em-hero__header {
    padding-top: 40px;
    padding-bottom: 56px;

    display: flex;
    justify-content: center;
}

.em-hero__container {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.em-hero__body {
    flex-grow: 1;
    
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

    position: relative;
}

.em-hero__social {
    position: absolute;
    top: 0;
    left: 0;
}

.social-links_direction_vertical {
    display: flex;
    flex-direction: column;
}

.social-links_direction_vertical .social-links__item {
    margin-right: 0;
    margin-bottom: 30px;
}

.social-links_direction_vertical .social-links__item:last-child {
    margin-bottom: 0;
}

.em-hero__bg-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.em-hero__bg-item {
    position: absolute;
}

.em-hero__bg-item img {
    display: block;
    position: relative;
}

.em-hero__bg-item:before {
    content: '';
    border: 1px dashed #fff;
    position: absolute;

    width: 100%;
    height: 100%;
}

.em-hero__bg-item_position_top_right {
    top: 0;
    right: 0;
    border-top-left-radius: 120px;
}

.em-hero__bg-item_position_top_right:before {
    left: -30px;
    top: -30px;
}

.em-hero__bg-item_position_top_right img {
    border-top-left-radius: 120px;
}

.em-hero__bg-item_position_bottom_left {
    top: 0;
    left: 0;
    border-top-right-radius: 120px;
}

.em-hero__bg-item_position_bottom_left:before {
    top: -30px;
    right: -30px;
}

.em-hero__bg-item_position_bottom_left img {
    border-top-right-radius: 120px;
}

.social-links__item {
    display: inline-block;
    margin-right: 25px;
}

.social-links__item:last-child {
    margin-right: 0;
}

.em-navigation__link {
    display: inline-block;
    margin-right: 40px;
    color: inherit;
    text-decoration: none;

    padding-bottom: 7px;
    border-bottom: 2px dashed transparent;
}

.em-navigation__link:hover {
    border-bottom-color: var(--orange);
}

.em-navigation__link:last-child {
    margin-right: 0;
}