:root {
    --green: #10B582;
    --orange: #FA9F42;
    --background-color: #E5E5E5;
    --text-color: rgba(53, 58, 90, 1);

    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 22px;
    --font-size-xl: 58px;

    --font-family-base: 'Raleway', Helvetica, Arial, sans-serif;
}